.week-calendar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @at-root #{&}__day {
    @apply mx-1;
    @apply pt-2;

    flex-grow: 1;
    text-align: center;
    border-top: 4px theme('colors.primary') solid;

    &.past-day {
      border-top: 4px theme('colors.neutral.lighter') solid;
      color: theme('colors.neutral.lighter');
      opacity: .68;
    }
  }

  @at-root #{&}__day-title {
    @apply py-2;

    color: inherit;
  }

  @at-root #{&}__time {
    @apply text-xs;
    @apply py-1;

    @at-root #{&}--avaliable {
      @extend .week-calendar__time;
      @apply text-primary;
    }

    @at-root #{&}--booked {
      @extend .week-calendar__time;
      @apply text-neutral-lighter;
    }
  }

}