.section-schedule {
  @at-root #{&}__filter {
    @apply mb-3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: theme('screens.sm')) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  @at-root #{&}__week-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    >:first-child {
      @apply mr-4;
    }
  
    @media screen and (max-width: theme('screens.sm')) {
      @apply mb-2;
    }
  }

  @at-root #{&}__notes {
    @apply text-xs;
  }
}
