h1, h2, h3, h4, h5, h6, p, div, span {
  @apply text-neutral-darkest;
}

body {
  @apply bg-neutral-lightest;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang HK,\.PingFang-SC-Regular,PingFang,Hiragino Sans GB,STHeiti,Microsoft JhengHei,sans-serif;
}

select, input {
  @apply bg-neutral-lightest;
}

button, input, select, textarea {
  border: 1px theme('colors.neutral.lighter') solid;
  border-radius: 3px;

  &:focus {
    outline: none;
  }
}